antiorm
certifi
charset-normalizer
click
colorama
DateTime
db
db-sqlite3
Flask
flask_wtf
greenlet
idna
importlib-metadata
itsdangerous
Jinja2
joblib
MarkupSafe
numpy
os.path2
pandas
path
path.py
pickle5
PyMySQL
python-dateutil
pytz
requests
scikit-learn
scipy
six
sklearn
SQLAlchemy
syspath
threadpoolctl
typing-extensions
urllib3
Werkzeug
zipp
zope.interface
